
// Clases para usar Flexbox 

.d-flex {
    display: flex;
  }
  
  // Dirección
  .flex-row {
    flex-direction: row; 
  }
  .flex-column {
    flex-direction: column;
  }
  
  // Alineación vertical (eje cruzado)
  .align-start {
    align-items: flex-start;
  }
  .align-center {
    align-items: center;
  }
  .align-end {
    align-items: flex-end;
  }
  
  // Alineación horizontal (eje principal)
  .justify-start {
    justify-content: flex-start;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  // Envoltura
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  