//Colores Principales - Tema Loki
$verde-loki:    #5E8335;   // Verde oliva (color principal de marca)
$verde-esmeralda:    #073D1D;   // Verde esmeralda oscuro (fondos, headers)
$verde-oscuro:    #0F250F;   // Verde muy oscuro (fondos profundos, navbar)

$dorado-loki:     #D4B429;   // Dorado clásico Loki ( botones, íconos)
$dorado-suave:    #E6C95C;   // Dorado suave (fondos claros, bordes sutiles)
$bronce:        #B4861A;   // Bronce antiguo (bordes, íconos decorativos)


//Colores Oscuros y Neutros
$gris-oscuro:     #33372F;   // Gris con tinte verde (texto, backgrounds)
$carbon:      #1F1F1F;   // Carbón oscuro (fondo base, secciones principales)
$black:         #000000;   // Negro absoluto
$white:         #ffffff;   // Blanco absoluto


//Colores Opcionales - Toque Mágico/Asgardiano
$morado-magico:  #6C3483;   // Púrpura mágico (para alertas especiales, badges)
$azul-hielo:      #1F618D;   // Azul hielo 


//Colores Neutrales Claros (Soporte visual)
$gris-claro:    #DADADA;   // Gris claro neutro (fondos suaves, bordes)
$blanco-calido:     #F7F7F7;   // Blanco cálido (alternativa al blanco puro)