//Colores Principales - Tema Loki
$verde-loki:    #5E8335;   
$verde-esmeralda:    #073D1D;   
$verde-oscuro:    #0F250F;   

$dorado-loki:     #D4B429;   
$dorado-suave:    #E6C95C;  
$bronce:        #B4861A;   


//Colores Oscuros y Neutros
$gris-oscuro:     #33372F;   
$carbon:      #1F1F1F;   
$black:         #000000;   
$white:         #ffffff;   


//Colores Opcionales - Toque Mágico/Asgardiano
$morado-magico:  #6C3483;   
$azul-hielo:      #1F618D;   


//Colores Neutrales Claros 
$gris-claro:    #DADADA;   
$blanco-calido:     #F7F7F7;   